.projects-swiper .swiper-button-next,
.projects-swiper .swiper-button-prev {
  color: #60a5fa;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  animation: pulseArrow 2s infinite;
}

.projects-swiper .swiper-button-next:hover,
.projects-swiper .swiper-button-prev:hover {
  transform: scale(1.15);
  box-shadow: 0 0 20px rgba(96, 165, 250, 0.6);
}

@keyframes pulseArrow {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
